
<div class="progressSection">
  <div class="progressLabel">
    <span>Quiz</span>
  </div>
  <div class="progressSubSection">
    <div class="progressIndicator {{settings.ProgressQuiz1}}"></div>
  </div>
  <div class="progressSubSection">
    <div class="progressIndicator {{settings.ProgressQuiz2}}"></div>
  </div>
  <div class="progressSubSection">
    <div class="progressIndicator {{settings.ProgressQuiz3}}"></div>
  </div>
</div>
<div class="progressSection">
  <div class="progressLabel">
    <span>Alumni</span>
  </div>
  <div class="progressIndicator {{settings.ProgressAlumni}}"></div>
</div>
<div class="progressSection">
  <div class="progressLabel">
    <span>Careers</span>
  </div>
  <div class="progressIndicator {{settings.ProgressPathways}}"></div>
</div>
<div class="clear"></div>