<div class="modalMessage">{{modal.message}}</div>
<div class="clear"></div>
<button class="left {{modal.leftButton.visible}}" {{action "leftButtonClick"}}>{{modal.leftButton.text}}</button>
<button class="right {{modal.rightButton.visible}}" {{action "rightButtonClick"}}>{{modal.rightButton.text}}</button>
