<div class="About">
  <div>
    
    <br />
    {{#link-to 'demo'}}<div class="button Demo-Button">App Intro</div>{{/link-to}}
    <hr />

    <div {{action "openExternalLink" "https://foundationccc.org/"}} class="about-section FCCC">
      <img src="img/fccc.png" class="img-responsive" />
    </div>

    <div {{action "openExternalLink" "http://www.yiadvisors.com/"}} class="about-section YIA">
      <img src="img/YIA.jpg" class="img-responsive" />
    </div>

    <div {{action "openExternalLink" "http://www.younginvincibles.org/about/"}} class="about-section YI">
      <img src="img/yi-logo.png" class="img-responsive" />
      <img src="img/yi.png" class="img-responsive" />
    </div>
    <div {{action "openExternalLink" "http://www.ginkgostreet.com/"}} class="about-section Ginkgo">
      <img src="img/ginkgo-logo.svg" class="img-responsive" />
    </div>
    <div class="clear"></div>
    <div {{action "openExternalLink" "http://www.onetcenter.org/overview.html"}} class="about-section OnetInIt">
      <img src="img/onet-logo.png" class="img-responsive" />
    </div>
  </div>
  <div class="center">
    <span {{action "showTerms"}} class="terms">Terms of Service</span><br />
    <span {{action "showPrivacyPolicy"}} class="privacy">Privacy Policy</span>
  </div>
</div>