<p class="smaller center yellow">Explore California Community College Alumni</p>
<div class="poloroid-container">
  <div {{action "toggleDescription"}} class="clickable poloroid">
    <div class="poloroid-img-container">
      <img class="poloroid-img" src="{{model.getImgPath}}" />
    </div>
    <div class="poloroid-footer">
      <h3 >{{model.title}}</h3>
      {{job-growth value=jobGrowth includeText=true float="right"}}
      {{salary-growth value=salaryGrowth includeText=true float="right"}}
    </div>
  </div>
  <div class="cards card1"></div>
  <div class="cards card2"></div>
</div>

<div class="hotOrNotButtons">
  <div {{action 'hotOrNot' 0}} class="Dismiss left swipeIndicator">
    <i class="material-icons">&#xE14C;</i>
  </div>
  <div {{action 'hotOrNot' 1}} class="Save right swipeIndicator">
    <i class="material-icons">&#xE876;</i>
  </div>
  <div class="clear"></div>
</div>

<div class="alumniDescription">
  <p>{{{model.desc}}}</p>
</div>