<p class="smaller center yellow">Explore California Community College Alumni</p>
<div class="poloroid-container">
  <div class="poloroid">
    {{view 'hotOrNot'}}
    <div {{action "toggleDescription"}} class="poloroid-footer">
      <h3 >{{model.title}}</h3>
      {{#if showGrowth}}
        {{#if jobGrowth}}<span class="right highDemand yellow">HIGH DEMAND &nbsp;<i {{action "explainJobGrowth"}} class="jobGrowth material-icons">&#xE8E5;</i></span>{{/if}}
        {{#if salaryGrowth}}<i {{action "explainSalaryGrowth"}} class="salaryGrowth material-icons">&#xE227;</i>{{/if}}
      {{/if}}
    </div>
  </div>
  <div class="cards card1"></div>
  <div class="cards card2"></div>
</div>

<div class="hotOrNotButtons">
  <div {{action 'hotOrNot' 0}} class="Dismiss left swipeIndicator">
    <i class="material-icons">&#xE14C;</i>
  </div>
  <div {{action 'hotOrNot' 1}} class="Save right swipeIndicator">
    <i class="material-icons">&#xE876;</i>
  </div>
  <div class="clear"></div>
</div>

<div class="alumniDescription">
  <p>{{{model.desc}}}</p>
</div>