<link rel="stylesheet" href="css/alumni.css" />


<div class="hotOrNotButtons">
  <div {{action 'hotOrNot' 0}} class="Dismiss swipeIndicator left">Dismiss</div>
  <div {{action 'hotOrNot' 1}} class="Save swipeIndicator right">Save</div>
  <div class="clear"></div>
</div>

{{view 'hotOrNot'}}
<div class="gray">
  <h1>{{model.title}}</h1>
  <p>{{{model.desc}}}</p>
</div>