{{view "main-menu"}}
{{main-progress}}
<div class="mainContent {{settings.ProgressStyle}}">
    {{outlet}}
</div>
{{view "modal"}}
{{view "status"}}
<div class="clear"></div>
<div class="clear"></div>
