{{view "main-menu"}}
<div class="mainContent {{settings.ProgressStyle}}">
  <div {{action "registerBackButtonClick"}} class="backButton"><i class="material-icons">&#xE166;</i></div>
    {{outlet}}
</div>
{{view "modal"}}
{{view "status"}}
{{view "loading"}}
<div class="clear"></div>
