{{partial "partials/main-menu"}}
<div class="mainContent {{settings.ProgressStyle}}">
    {{outlet}}
</div>
{{modal-dialog}}
{{partial "partials/status"}}
{{loading-indicator}}
<div class="clear"></div>
<div class="statusbar-helper"></div>