{{partial "_main-menu"}}
<div class="mainContent {{settings.ProgressStyle}}">
    {{outlet}}
</div>
{{modal-dialog}}
{{partial "_status"}}
{{view "loading"}}
<div class="clear"></div>
<div class="statusbar-helper"></div>