{{view "main-menu"}}
<div class="mainContent {{settings.ProgressStyle}}">
  {{#if showBackButton}}
    <div {{action "registerBackButtonClick"}} class="backButton"><i class="material-icons">&#xE166;</i></div>
    <div class="backButtonShim"></div>
  {{/if}}
    {{outlet}}
</div>
{{view "modal"}}
{{view "status"}}
{{view "loading"}}
<div class="clear"></div>
<div class="statusbar-helper"></div>