{{view "main-menu"}}
<div class="mainContent {{settings.ProgressStyle}}">
    {{outlet}}
</div>
{{view "modal"}}
{{view "status"}}
{{view "loading"}}
<div class="clear"></div>
<div class="statusbar-helper"></div>