<div class="full">
    <p class="center lightBlueText smaller noMargin"><strong>You're Exploring...</strong></p>
    <div class="center"><strong>{{model.name}}</strong></div>
</div>

<div class="sortTypes">
  <div class="sortOption sortHighSalary" {{action "sortHighSalary"}}>$$</div><!--
  --><!--<div class="sortOption sortHighSalaryChange" {{action "sortHighSalaryChange"}}>High Salary Change</div>//--><!--
  -->{{#if showSortScore}}<div class="sortOption sortScore" {{action "sortScore"}}>&#x2605;</div>{{/if}}<!--
  --><div class="sortOption sortAlphabetical" {{action "sortAlphabetical"}}>A&lt;Z</div>
</div>

<div class="full">
  <ul class="listView">
    {{#each occupation in occupations}}
      {{#if occupation.hasData}}
        <li {{action "viewOccupation" occupation.first.id}} class="chevronRight">
          <div class="OccupationDetail">
            <span class="OccupationTitle">{{occupation.first.title}}</span>
            <table class="OccupationSalaryDataTable">
              <thead>
              <td></td>
              <td>2 Years Before</td>
              <td>2 Years After</td>
              <td>5 Years After</td>
              </thead>
              <tbody>
              {{#if occupation.first.hasWageData}}
                <tr>
                  <td>{{occupation.first.awardDescription}}:</td>
                  <td>{{currency-format-na occupation.first.medianPre2}}</td>
                  <td>{{currency-format-na occupation.first.medianPost2}}</td>
                  <td>{{currency-format-na occupation.first.medianPost5}}</td>
                </tr>
              {{/if}}
              {{#if occupation.second}}
                {{#if occupation.second.hasWageData}}
                  <tr>
                    <td>{{occupation.second.awardDescription}}:</td>
                    <td>{{currency-format-na occupation.second.medianPre2}}</td>
                    <td>{{currency-format-na occupation.second.medianPost2}}</td>
                    <td>{{currency-format-na occupation.second.medianPost5}}</td>
                  </tr>
                {{/if}}
              {{/if}}

              </tbody>
            </table>

          </div>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>