<div class="full">
  <div class="padded section">
    <p><strong>{{model.college.collegeName}}</strong></p>
    <p {{action "openExternalLink" model.college.collegeURL}} class="clickable"><strong>{{model.college.collegeURL}}</strong></p>
  </div>
  <div class="padded section">
    <p>{{model.college.address1}}<br />
      {{#if model.college.address2}}
        {{model.college.address2}}<br />
      {{/if}}
      {{model.college.city}}, CA, {{model.college.zip}}</p>
    {{#if model.college.description}}
      <hr />
      <p>{{{model.college.description}}}</p>
    {{/if}}
  </div>

<br />

  <div class="padded"><strong>Programs</strong></div>
  <ul class="listView">
    {{#each program in model.programs}}
      <li class="padded">
        {{{program.title}}} - {{program.awardDescription}}
      </li>
    {{/each}}
  </ul>

  {{outlet}}
</div>