{{#if showHamburger}}
  <span {{action "toggleDrawer"}} class="navbar-brand material-icons" id="menuButton">&#xE5D2;</span>
{{/if}}
{{#if showBackButton}}
  <div {{action "registerBackButtonClick"}} id="backButton" class="backButton">
    {{#if backButtonText}}
      <p><span>{{backButtonText}}</span></p>
    {{else}}
      <i class="material-icons">&#xE166;</i>
    {{/if}}
  </div>

{{/if}}
<nav class="navbar-flat {{navbarClass}}" >
  <span class="navbar-brand" id="title">
    {{appTitle}}
  </span>
</nav>
{{oc-drawer register-as=drawer logout="logout"}}
