{{modal.message}}
<div class="clear"></div>
<button class="left {{modal.leftButton.visible}}" data-action="leftButton">{{modal.leftButton.text}}</button>
<button class="right {{modal.rightButton.visible}}" data-action="rightButton">{{modal.rightButton.text}}</button>
