<div class="full">
  <div class="pageMessage gray full">
    You're Exploring...
    <div class="clusterName">{{model.cluster.name}}</div>
  </div>

  <div class="padded">
    <div class="pathwayTitle">
      {{model.name}}
      {{job-growth value=model.jobGrowth}}
      {{salary-growth value=model.salaryGrowth}}
    </div>
    <div class="pathwayDesc">
      {{{model.description}}}
    </div>

    <div class="occupation-list">
      <p><strong>Occupations</strong></p>
      <p class="italic smaller">Tap to learn more about these occupations</p>
      <ul>
        {{#each model.occupations as |occ|}}
        <li {{action "exploreOccupation" occ.id}}>
          <strong>{{occ.title}}</strong> - {{occ.awardDescription}}
          <i class="material-icons right exploreOccupation">&#xE409;</i>
          {{#if occ.medianPre2}}
            <p>{{currency-format-na occ.medianPre2}} - {{currency-format-na occ.medianPost5}}</p>
          {{/if}}
        </li>
      {{/each}}
      </ul>
    </div>
    <!--//<div class="pathwayTitle smaller" {{action "exploreColleges" model.id}}>Explore Colleges Offering This Degree</div>//-->
    {{outlet}}
  </div>
</div>