
<div class="msgtxt">
  <h3>You are exploring in cluster, "{{cluster.name}}"</h3>
</div>

<h3>Pathway: {{model.name}}</h3>
<div class="msgtxt">
Lorem Ipsum Pathway Details
</div>

<div class="occupation-list">
<ul>{{#each occ in occupations}}
  <li><h4>{{occ.code}} - {{occ.name}}</h4>
  <div class="msgtxt">Occupation Details</div>
</li>
{{/each}}</ul>
</div>
{{outlet}}
