<dt class="{{profileScore.area}}">
  {{profileScore.area}}
</dt>
<dd class="{{profileScore.area}}">
  <div class="score" data-score="{{profileScore.score}}"></div>
  <div class="desc">{{profileScore.desc}}</div>
</dd>