<div class="proximity-main full">

  <button {{action "findInProximity"}} class="search-icon right"><i class="material-icons">&#xE8B6;</i></button>
  <h3>Search within: {{searchRadius}} miles</h3>
  <br />
  {{input type='range' min="1" max="100" step="1" value=searchRadius id="ProximitySlider" class="custom"}}
  <p class="proximity-of">-of-</p>
  <div {{action "refreshLocation"}} id="proximity-location" class="proximity-detail active">
    <div class="proximity-detail-header">Your Location</div>
  </div>
  <div {{action "zipLocation"}} id="proximity-zip" class="proximity-detail">
    <div class="proximity-detail-header">Zip Code: {{input type=number size=15 value=zipCodeSelected id="zipCodeInput" class="zipCodeInput"}}</div>
  </div>
</div>
<div>
  {{#if proximityResults}}
    <ul class="collegeProximityList">
      {{#each college in proximityResults}}
        <li {{action "viewCollege" college.id}}>
          {{college.collegeName}}
          <i class="material-icons">&#xE409;</i>
          <span class="distance smaller">{{college.distance}} miles</span>
          <div class="clear"></div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="center"><strong>No Results</strong></div>
  {{/if}}
</div>