<div class="questions">
    <div class="quizProgress">{{progress}}/20</div>
    <div {{action 'goBack'}} class="backButton question{{model.id}}">&larr;</div>
    <h1>{{model.text}}</h1>

    <div class="answers">
        {{#each opt in questionOptions}}
          <button {{action 'saveSelection' opt.value}} class="button answer{{opt.value}}">{{opt.label}}</button>
        {{/each}}
    </div>
</div>

{{outlet}}
<div class="sectionComplete full">
    <h2 class="bravo">
        Bravo!
    </h2>
    <p>
        You're done with this part of the interests survey.
    </p>
    <p><button {{action 'acknowledgeSectionComplete'}} class="continue">Continue</button></p>
</div>