<div class="questions">
    <div class="quizProgress">{{progress}}/20</div>
    <h1>{{model.text}}</h1>

    <div class="answers">
        {{#each opt in questionOptions}}
          <button {{action 'saveSelection' opt.value}} class="button answer{{opt.value}}">{{opt.label}}</button>
        {{/each}}
    </div>
</div>
{{outlet}}
