<h3>{{model.text}}</h3>

{{#each opt in questionOptions}}
  <div class="answer">

    {{radio-button value=opt.value checked=selectedAnswer}}
    <label>{{opt.label}}</label>
  </div>
{{/each}}

<button {{action 'saveSelection'}}>Next</button>

{{outlet}}
