<div class="questions">
    <div class="quizProgress">{{progress}}/20</div>
    <h1>{{model.text}}</h1>

    <div class="answers">
        {{#each questionOptions as |opt|}}
          {{answer-button opt=opt click="saveSelection"}}
        {{/each}}
    </div>
</div>

{{outlet}}
<div class="sectionComplete full">
    <div class="sectionCompleteStars">
        <div class="starSection star1">
          <svg version="1.1" viewBox="0 0 210 175" preserveAspectRatio="xMinYMin meet" class="starSvg">
              <path class="star {{settings.ProgressQuiz1}}" d="M 177.14286,160.93361 128.04433,138.6172 81.825896,166.41187 87.877787,112.82025 47.161201,77.452929 99.999998,66.647898 121.0542,16.99502 l 26.60428,46.913745 53.7288,4.680153 -36.39645,39.799322 z"/>
          </svg>
        </div>
        <div class="starSection star2">
            <svg version="1.1" viewBox="0 0 210 175" preserveAspectRatio="xMinYMin meet" class="starSvg">
                <path class="star {{settings.ProgressQuiz2}}" d="M 177.14286,160.93361 128.04433,138.6172 81.825896,166.41187 87.877787,112.82025 47.161201,77.452929 99.999998,66.647898 121.0542,16.99502 l 26.60428,46.913745 53.7288,4.680153 -36.39645,39.799322 z"/>
            </svg>
        </div>
        <div class="starSection star3">
            <svg version="1.1" viewBox="0 0 210 175" preserveAspectRatio="xMinYMin meet" class="starSvg">
                <path class="star {{settings.ProgressQuiz3}}" d="M 177.14286,160.93361 128.04433,138.6172 81.825896,166.41187 87.877787,112.82025 47.161201,77.452929 99.999998,66.647898 121.0542,16.99502 l 26.60428,46.913745 53.7288,4.680153 -36.39645,39.799322 z"/>
            </svg>
        </div>
    </div>
    <div class="sectionCompleteMessage">
      <h2 class="bravo">
          Bravo!
      </h2>
      <p>
          You're done with this part of the interests survey.
      </p>
      <p><button {{action 'acknowledgeSectionComplete'}} class="continue">Continue</button></p>
        <div class="clear"></div>
    </div>
</div>