<p class="smaller center yellow">Explore California Community College Alumni</p>
<div class="poloroid-container">
  <div class="poloroid">
    <div class="poloroid-img-container">
      {{cached-image image=model.image class="poloroid-img"}}
    </div>
    <div class="poloroid-footer">
      <h3>{{model.title}}</h3>
      {{job-growth value=jobGrowth includeText=true float="right"}}
      {{salary-growth value=salaryGrowth includeText=true float="right"}}
    </div>
  </div>
  <div class="cards card1"></div>
  <div class="cards card2"></div>
</div>
<div class="padded">
  <p>{{{model.desc}}}</p>
</div>