<p class="smaller center yellow">Explore California Community College Alumni</p>
<div class="poloroid-container">
  <div class="poloroid">
    <img class="poloroid-img img-responsive" src="{{model.getImgPath}}" />
    <div class="poloroid-footer">
      <h3>{{model.title}}</h3>
      {{#if showGrowth}}
        {{job-growth value=jobGrowth includeText=true float="right"}}
        {{#if salaryGrowth}}<i {{action "explainSalaryGrowth"}} class="salaryGrowth material-icons">&#xE227;</i>{{/if}}
      {{/if}}
    </div>
  </div>
  <div class="cards card1"></div>
  <div class="cards card2"></div>
</div>
<div class="padded">
  <p>{{{model.desc}}}</p>
</div>