<dt class="{{scoreArea.area}}">
  {{scoreArea.area}}
</dt>
<dd class="{{scoreArea.area}}">
  <div class="score" data-score="{{scoreArea.score}}"><div class="fill"></div></div>
  <div class="desc">{{scoreArea.desc}}</div>
</dd>