

<div class="full gray pageMessage">
  You're Exploring...
  <div class="pathways-selected-clusters">
    {{#each cluster in model.clusters }}
      <li>{{cluster.name}}</li>
    {{/each}}
  </div>
</div>
<div class="pathway-list full padded">
  <p class="pageMessage">
    Tap on a degree to learn more.<br />
    Check-off to bookmark for later.
  </p>
  <ul>
    {{#each pathway in pathways}}
      {{#if pathway.hasOccupations}}
        {{#view "pathway-list" pathway=pathway}}
          {{view "pathway-checkbox" pathway=pathway}}
          {{#if pathway.jobGrowth}}<i {{action "explainJobGrowth"}} class="jobGrowth material-icons">&#xE8E5;</i>{{/if}}
          {{#if pathway.salaryGrowth}}<i {{action "explainSalaryGrowth"}} class="salaryGrowth material-icons">&#xE227;</i>{{/if}}
          {{#link-to 'pathway' pathway.id}}{{pathway.name}}{{/link-to}}
          <div class="clear"></div>
        {{/view}}
      {{/if}}
    {{/each}}
  </ul>
</div>