
<div class="inputWrapper">
  <p><i class="material-icons">face</i></p>
  {{input type="text" value=user.first required=true placeholder="First Name" }}
</div>
<div class="inputWrapper">
  <p><i class="material-icons">face</i></p>
  {{input type="text" value=user.last required=true placeholder="Last Name" }}
</div>
<div class="inputWrapper">
  <p><i class="material-icons">email</i></p>
  {{input type="email" value=user.email required=true placeholder="Email" }}
</div>

<hr class="formHR" />

<div class="inputWrapper">
  <p><i class="material-icons">accessibility</i></p>
  {{input type="number" value=user.age placeholder="Age" }}
</div>

<div class="inputWrapper">
  <p><i class="material-icons">public</i></p>
  {{input type="text" value=user.location placeholder="Location" }}
</div>

<div class="inputWrapper">
  <p><i class="material-icons">account_balance</i></p>
  {{input type="text" value=user.education placeholder="Education" }}
</div>

<hr class="formHR" />

<button class="formButton" {{action "saveUser"}}>Save Settings</button>