
<div class="inputWrapper">
  <p><i class="material-icons">&#xE87C;</i></p>
  {{input type="text" value=user.firstName required=true placeholder="First Name" }}
</div>
<div class="inputWrapper">
  <p><i class="material-icons">&#xE87C;</i></p>
  {{input type="text" value=user.lastName required=true placeholder="Last Name" }}
</div>
<div class="inputWrapper">
  <p><i class="material-icons">&#xE0BE;</i></p>
  {{input type="email" value=user.email required=true placeholder="Email" }}
</div>

<hr class="formHR" />

<div class="inputWrapper">
  <p><i class="material-icons">&#xE84E;</i></p>
  {{input type="number" value=user.age placeholder="Age" }}
</div>

<div class="inputWrapper">
  <p><i class="material-icons">&#xE80B;</i></p>
  {{input type="text" value=user.location placeholder="Location" }}
</div>

<div class="inputWrapper">
  <p><i class="material-icons">&#xE84F;</i></p>
  {{input type="text" value=user.education placeholder="Education" }}
</div>

<hr class="formHR" />

<button class="formButton" {{action "saveUser"}}>Save Settings</button>