<div class="welcome-overlay full blueout">
  <div class="welcome-wrapper">
    <div class="logo-header">
      <img src="img/logo.svg" class="portrait img-responsive" />
      <img src="img/logo-landscape.svg" class="landscape img-responsive" />
    </div>

    <div class="welcome-header">I want to explore...</div>

    <div class="clear"></div>

    <div class="welcomeActions">
      <div class="welcomeAction">
        <div {{action "salaries"}} class="welcomeActionIcon salaryIcon clickable"></div>
        <span {{action "salaries"}} class="clickable">Wages & Salaries</span>
      </div>
      <div class="welcomeAction">
        <div {{action "takeQuiz"}} class="welcomeActionIcon careerIcon clickable"></div>
        <span {{action "takeQuiz"}} class="clickable">Jobs & Careers</span>
      </div>
      <div class="welcomeAction">
        <div {{action "proximity"}} class="welcomeActionIcon collegeIcon clickable"></div>
        <span {{action "proximity"}} class="clickable">Degrees & Colleges</span>
      </div>
      <div class="clear"></div>
    </div>

    <div class="brought attach">
      <img src="img/brought-by.png" class="img-responsive" />
    </div>
  </div>
</div>